.reset {
    margin-right: 10%;
    justify-content: center;
}

.lilGap {
    margin: 3%;
}

.co {
    color: rgb(72, 70, 70);
}

input[type="password"] {
    width: 90%;
    max-width: 500px;
    padding: 10px;
    margin: 15px auto;
    display: block;
    border: 1px solid;
    border-radius: 8px;
    font-size: 1rem;
}
.passrequire {
    width: 100%;
    display: grid;
    justify-content: center;
    font-size: .5em;
    margin-left: 3%;
    grid-template-columns: repeat(2, 1fr);
}

.requirementcor {
    color: green;
    display: flex;
    align-items: center;
}

.requirementwrong {
    color: red;
    display: flex;
    align-items: center;
}

.requirementwrong img {
    width: 20px;
    /* Ai generated code to turn the x into a red x    */
    filter: invert(21%) sepia(99%) saturate(7485%) hue-rotate(0deg) brightness(101%) contrast(106%);
}